{% extends 'base.html.twig' %}

{% block title %}
  Hello BlogController!
{% endblock %}

{% block body %}
  <section class="artcile">
  {% for article in articles %}
    <article>
      <img src="https://picsum.photos/200/300" />
      <h2>
        {{article.title}}
      </h2>
      <div class="metabase">
        Ecrit le 96 janvier à 9 h 00
      </div>
      <div class="content">
        <p>
          Sint nostrud nulla dolore quis nisi. Nulla eiusmod cupidatat laborum
          ad nostrud proident dolor consequat voluptate. Ad consectetur cillum
          enim amet deserunt enim. Qui sit consectetur elit pariatur culpa.
          Dolore id ipsum occaecat in. Excepteur consequat adipisicing
          incididunt sunt aliqua sunt minim in deserunt exercitation minim
          ipsum.
        </p>
        <p>
          Sint nostrud nulla dolore quis nisi. Nulla eiusmod cupidatat laborum
          ad nostrud proident dolor consequat voluptate. Ad consectetur cillum
          enim amet deserunt enim. Qui sit consectetur elit pariatur culpa.
          Dolore id ipsum occaecat in. Excepteur consequat adipisicing
          incididunt sunt aliqua sunt minim in deserunt exercitation minim
          ipsum.
        </p>
        <a href="{{ path('blog_show') }}">Lire la suite ...</a>
      </div>
    </article>
    {% endfor %}
  </section>
{% endblock %}
