{% extends 'base.html.twig' %}

{% block body %}
  <article>
    <img class="mt-5" src="https://picsum.photos/200/300" />
    <h2>
      Titre de l'artciles
    </h2>
    <div class="metabase mt-5">
      Ecrit le 96 janvier à 9 h 00
    </div>
    <div class="content">
      <p>
        Sint nostrud nulla dolore quis nisi. Nulla eiusmod cupidatat laborum ad
        nostrud proident dolor consequat voluptate. Ad consectetur cillum enim
        amet deserunt enim. Qui sit consectetur elit pariatur culpa. Dolore id
        ipsum occaecat in. Excepteur consequat adipisicing incididunt sunt
        aliqua sunt minim in deserunt exercitation minim ipsum.
      </p>
      <p>
        Sint nostrud nulla dolore quis nisi. Nulla eiusmod cupidatat laborum ad
        nostrud proident dolor consequat voluptate. Ad consectetur cillum enim
        amet deserunt enim. Qui sit consectetur elit pariatur culpa. Dolore id
        ipsum occaecat in. Excepteur consequat adipisicing incididunt sunt
        aliqua sunt minim in deserunt exercitation minim ipsum.
      </p>
      <hr />
      <p>
        Sint nostrud nulla dolore quis nisi. Nulla eiusmod cupidatat laborum ad
        nostrud proident dolor consequat voluptate. Ad consectetur cillum enim
        amet deserunt enim. Qui sit consectetur elit pariatur culpa. Dolore id
        ipsum occaecat in. Excepteur consequat adipisicing incididunt sunt
        aliqua sunt minim in deserunt exercitation minim ipsum.
      </p>
      <p>
        Sint nostrud nulla dolore quis nisi. Nulla eiusmod cupidatat laborum ad
        nostrud proident dolor consequat voluptate. Ad consectetur cillum enim
        amet deserunt enim. Qui sit consectetur elit pariatur culpa. Dolore id
        ipsum occaecat in. Excepteur consequat adipisicing incididunt sunt
        aliqua sunt minim in deserunt exercitation minim ipsum.
      </p>
    </div>
  </article>
{% endblock %}
