{% extends 'base.html.twig' %}
{% block title %}Notifications - Back-office{% endblock %}
{% block body %}
    {{ include('sidebar/top.html.twig', {listItem: 6}) }}
    <style>

    </style>
    {{ include('page_title.html.twig', {title: 'Notifications'}) }}
    <div class="main">

    </div>
    {% include 'sidebar/bottom.html.twig' %}
{% endblock %}
