{% extends 'base.html.twig' %}
{% block title %}Scènes - Back-office{% endblock %}
{% block body %}
    {{ include('sidebar/top.html.twig', {listItem: 9}) }}
    <style>

    </style>
    {{ include('page_title.html.twig', {title: 'Scènes'}) }}
    <div class="main">
        {% for stage in stages %}
            <div class="my-1">
                <span>{{ stage.name }}</span>
                <span>{{ stage.location }}</span>
            </div>
        {% endfor %}
    </div>
    {% include 'sidebar/bottom.html.twig' %}
{% endblock %}
