<style>
    #pageTitle {
        font-weight: 300;
        font-size: 18px;
        color: rgb(85,85,85);
        font-family: Roboto,Helvetica,Arial,sans-serif;
    }
    #pageTitle p:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 15px;
        height: 1px;
        width: calc(100% - 30px);
        background-color: rgb(212 209 209);
    }
</style>
<div class="w-100 py-4" id="pageTitle">
    <p class="ml-2 px-4 pb-2 position-relative">{{ title }}</p>
</div>