{% extends 'base.html.twig' %}
{% block title %}Meetings Artistes - Back-office{% endblock %}
{% block body %}
    {{ include('sidebar/top.html.twig', {listItem: 2}) }}
    <style>

    </style>
    {{ include('page_title.html.twig', {title: 'Rencontres Artistes'}) }}
    <div class="main">

    </div>
    {% include 'sidebar/bottom.html.twig' %}
{% endblock %}
